!!! 5
html
  head
    meta(charset='utf-8')
    title gComa
    link(type='text/css', href='home/hms/vinay/nodejs/views/jquery/jPlayer/skin/blue.monday/jplayer.blue.monday.css', rel='stylesheet')
    script(src='/home/hms/vinay/nodejs/views/jquery/jquery-1.7.min.js')
    script(type='text/javascript', src='/home/hms/vinay/nodejs/views/jquery/jPlayer/jquery.jplayer.min.js')
  body
    script(type='text/javascript')
      $(document).ready(function(){
      $('.jp-audio').hide();
      $('.jp-video').hide();
      /*$.ajax({
      url: "/stream",
      type: "GET",
      complete: function() {
      console.log('process complete');
      },
      success: function(data) {
      //console.log(data);
      console.log('process success');
      },
      error: function() {
      console.log('process error');
      },
      });*/
      /*****audio player******/
      $('.scan').on('click', '.audio', function() {
      $("#jquery_jplayer_1").jPlayer("destroy");
      $('.jp-video').hide();
      $('.jp-audio').show();
      var file = $(this).text();
      $("#jquery_jplayer_1").jPlayer({
      ready: function () {
      $(this).jPlayer({solution:"flash, html"});
      $(this).jPlayer("setMedia", {
      oga: file,
      m4a: file,
      webma: file,
      mp3: file
      }).jPlayer("play");
      },
      swfPath: "/home/hms/vinay/nodejs/views/jquery/jPlayer",
      supplied: "mp3,m4a,oga"
      });
      $('.jp-audio .jp-title ul li').html(file);
      });
      /******video player******/
      $('.scan').on('click', '.video', function() {
      $("#jquery_jplayer_1").jPlayer("destroy");
      $('.jp-audio').hide();
      $('.jp-video').show();
      var file = $(this).text();
      $("#jquery_jplayer_1").jPlayer({
      ready: function () {
      //$(this).jPlayer({solution:"flash, html"});
      $(this).jPlayer("setMedia", {
      webmv: file
      }).jPlayer("play");
      },
      swfPath: "/home/hms/vinay/nodejs/views/jquery/jPlayer",
      supplied: "m4v, webmv"
      });
      $('.jp-video .jp-title ul li').html(file);
      });
      $("#scan_link").click(function () {
      $.ajax({
      url: "/scan",
      type: "GET",
      //async: false,
      complete: function() {
      console.log('process complete');
      },
      success: function(data) {
      var array = data.toString().split("\\n");
      for(i in array) {
      switch(array[i].split('.').pop().toLowerCase()) {
      case 'mp3': case 'ogg': case 'flac': case 'wav': case 'wma': case 'aac': case 'ra': case 'midi': case 'aiff': case 'm4a':
      $(".scan").append('<a class="audio" href=#>'+array[i]+'</a><br>');
      break;
      case 'avi': case 'wmv': case 'webm': case 'mp4': case 'mpeg': case 'mpg': case 'mov': case 'flv': case 'rm':
      $(".scan").append('<a class="video" href=#>'+array[i]+'</a><br>');
      break;
      }
      }
      console.log(data);
      console.log('process success');
      },
      error: function() {
      console.log('process error');
      }
      });
      });
      });
    a#scan_link(href='#') Scan Media
    .scan
    br
    //
       VIDEO PLAYER 
    #jp_container_1.jp-video
      .jp-type-single
        #jquery_jplayer_1.jp-jplayer
        .jp-gui
          .jp-video-play
            a.jp-video-play-icon(href='javascript:;', tabindex='1') play
          .jp-interface
            .jp-progress
              .jp-seek-bar
                .jp-play-bar
            .jp-current-time
            .jp-duration
            .jp-controls-holder
              ul.jp-controls
                li
                  a.jp-play(href='javascript:;', tabindex='1') play
                li
                  a.jp-pause(href='javascript:;', tabindex='1') pause
                li
                  a.jp-stop(href='javascript:;', tabindex='1') stop
                li
                  a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
                li
                  a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
                li
                  a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
              .jp-volume-bar
                .jp-volume-bar-value
              ul.jp-toggles
                li
                  a.jp-full-screen(href='javascript:;', tabindex='1', title='full screen') full screen
                li
                  a.jp-restore-screen(href='javascript:;', tabindex='1', title='restore screen') restore screen
                li
                  a.jp-repeat(href='javascript:;', tabindex='1', title='repeat') repeat
                li
                  a.jp-repeat-off(href='javascript:;', tabindex='1', title='repeat off') repeat off
            .jp-title
              ul
                li
        .jp-no-solution
          span Update Required
          | To play the media you will need to either update your browser to a recent version
          | or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
          | .
    //
       AUDIO PLAYER 
    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.jp-audio
      .jp-type-single
        .jp-gui.jp-interface
          ul.jp-controls
            li
              a.jp-play(href='javascript:;', tabindex='1') play
            li
              a.jp-pause(href='javascript:;', tabindex='1') pause
            li
              a.jp-stop(href='javascript:;', tabindex='1') stop
            li
              a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          .jp-progress
            .jp-seek-bar
              .jp-play-bar
          .jp-volume-bar
            .jp-volume-bar-value
          .jp-time-holder
            .jp-current-time
            .jp-duration
            ul.jp-toggles
              li
                a.jp-repeat(href='javascript:;', tabindex='1', title='repeat') repeat
              li
                a.jp-repeat-off(href='javascript:;', tabindex='1', title='repeat off') repeat off
        .jp-title
          ul
            li
        .jp-no-solution
          span Update Required
          | To play the media you will need to either update your browser to a recent version
          | or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
          | .
